{{ ansible_managed | comment }}
{# /etc/hosts line #}
{% for host in groups['all'] %}
{{ hostvars[host]['ansible_facts']['enp0s8']['ipv4']['address'] }} {{ hostvars[host]['ansible_facts']['hostname'] }}
{% endfor %}
