[defaults]
inventory = ./inventory.ini
remote_user = vagrant
ask_pass = false
host_key_checking = true
interpreter_python = auto_silent

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

